
body {
    background-color: #161a1d;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#register-div {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}

#register-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.register-inputs {
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 10px;
    box-shadow: 1px 1px 2px black;
    width: 220px;
    height: 30px;
}

#register-button {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #ba181b;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    background-color: #ba181b;
    color: white;
}